In [8]:
import pandas as pd
import altair as alt

In [9]:
df = pd.read_csv("combined_data.csv")
df

<ipython-input-9-e484a8587f35>:1: DtypeWarning: Columns (0,1,2,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("combined_data.csv")

,most_recent_observation,most_recent_observation_type,common_name,scientific_name,city,state,longitude_coordinate,latitude_coordinate,address,condition,height_M,native
0,6/17/2020,inventory_date,Locust,NaN,Albuquerque,New Mexico,-106.568366,35.060456,NaN,dead/dying,NaN,no_info
1,6/9/2020,inventory_date,Oak,Quercus,Albuquerque,New Mexico,-106.655037,35.139272,1641 Tierra Del Rio Northwest,NaN,NaN,no_info
2,6/3/2020,inventory_date,Ash,Fraxinus,Albuquerque,New Mexico,-106.581127,35.052176,Us Veterans Hospital Loop,dead/dying,NaN,no_info
3,6/3/2020,inventory_date,Scotch pine,Pinus sylvestris,Albuquerque,New Mexico,-106.575056,35.052450,1606 San Pedro Drive Southeast,dead/dying,147.6378,introduced
4,5/29/2020,inventory_date,Honeylocust,Gleditsia triacanthos,Albuquerque,New Mexico,-106.716539,35.149632,5700 Bogart Street Northwest,good,98.4252,introduced
...,...,...,...,...,...,...,...,...,...,...,...,...
4585530,NaN,NaN,NaN,Celtis occidentalis,Worcester,Massachusetts,NaN,NaN,NaN,NaN,NaN,naturally_occurring
4585531,NaN,NaN,NaN,Juniperus,Worcester,Massachusetts,NaN,NaN,NaN,NaN,NaN,no_info
4585532,NaN,NaN,NaN,Rhus,Worcester,Massachusetts,NaN,NaN,NaN,NaN,NaN,no_info
4585533,NaN,NaN,NaN,Liquidambar styraciflua,Worcester,Massachusetts,NaN,NaN,NaN,NaN,NaN,naturally_occurring
4585534,NaN,NaN,NaN,Salix discolor,Worcester,Massachusetts,NaN,NaN,NaN,NaN,NaN,naturally_occurring

In [10]:
df = df.fillna("null")

In [11]:
tree_counts_per_state = df.groupby(['common_name', 'state']).size().reset_index(name='count')
tree_counts_per_state = tree_counts_per_state.sort_values(by=['count'], ascending=False)
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= 'null']
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= 0]
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= 443]
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= 444]
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= 445]
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= 446]
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= 448]
tree_counts_per_state = tree_counts_per_state[tree_counts_per_state['common_name']!= "*calls"]
tree_counts_per_state = tree_counts_per_state[~tree_counts_per_state['common_name'].str.contains("vacant", case=False)]
tree_counts_per_state = tree_counts_per_state.head(20)
tree_counts_per_state

            common_name       state  count
4690   London planetree    New York  90573
3778        Honeylocust    New York  70320
1369       Callery pear    New York  60781
5795            Pin oak    New York  53545
2267       Crape myrtle  California  51779
5270       Norway maple    New York  44061
4905   Mexican fan palm  California  43476
4610  Littleleaf linden    New York  38792
6172         Queen palm  California  38747
7204  Southern magnolia  California  37971
3468          Green ash    Colorado  33032
4188   Japanese zelkova    New York  30521
1591             Cherry    New York  29272
318   American sweetgum  California  29071
3967          Jacaranda  California  28733
5277       Norway maple   Wisconsin  23815
3750       Honey locust    Colorado  23561
3314             Ginkgo    New York  21413
6285          Red maple    New York  21138
1208       Brisbane box  California  21078

In [12]:
brush = alt.selection_interval()

points = alt.Chart(tree_counts_per_state).mark_point().encode(
    x=alt.X('state', axis=alt.Axis(title='State')),
    y=alt.Y('count:Q', axis=alt.Axis(title="Count")),
    color=alt.Color('common_name:N', legend=alt.Legend(title="Tree Species"))
).add_params(
    brush
)

bars = alt.Chart(tree_counts_per_state).mark_bar().encode(
    x=alt.X('count:Q', axis=alt.Axis(title="Count")),
    y=alt.Y('common_name:N', axis=alt.Axis(title="Species Name")),
    color='common_name:N'
).transform_filter(
    brush
)

composite_chart = (points & bars).properties(
    title=alt.TitleParams(
        text="Tree Species Count by State", 
        fontSize=18,  
        anchor='middle'  
    )
)

composite_chart

alt.VConcatChart(...)